.dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    /* grid-gap: 0; */
}

.dropdown-label {
    font-size: .8vw;
    margin: 0 0 0.5vw 0;
    text-align: left;
    color: rgb(105, 104, 105);
}

.dropdown-select-section {
    display: flex;
    flex-direction: column;
}

.dropdown-select {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 0.5vw;
    font-size: 0.9vw;
    padding: 0.5vw;
    width: 10vw;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    transition: .3s;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
    cursor: pointer;
}

.dropdown-selected {
    margin: 0;
    color: rgb(99, 99, 99);
    font-weight: normal;
}

.dropdown-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    border-bottom-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    margin-top: 2vw;
    width: inherit;
    width: 11vw;
    padding: 0;
}

.dropdown-option {
    font-size: 0.8vw;
    color: gray;
    margin: 0;
    height: 1.5vw;
    line-height: 1.5vw;
    cursor: pointer;
    padding: .4vw 0;
    border-top: 1px solid lightgray;
    transition: .3s;
}

.dropdown-option:hover {
    opacity: .8;
    color: black;
}

.dropdown-new {
    margin: 0.5vw 0 0.5vw 0;
    color: gray;
    height: 1.5vw;
    width: 1.5vw;
    line-height: 1.5vw;
    border: 1px solid #adadad;
    border-radius: 50%;
    cursor: pointer;
    color: #adadad;
    transition: 0.3s;
}

.dropdown-remove {
    margin: 0.5vw 0 0.5vw 0;
    color: gray;
    height: 1.5vw;
    width: 1.5vw;
    line-height: 1.5vw;
    cursor: pointer;
    transition: 0.3s;
    width: 4%;
    color: #adadad;
}

.dropdown-remove:hover {
    color: #E4C69C;
}

.dropdown-new:hover {
    color: #E4C69C;
    border-color: #E4C69C;
}