.cv-header-main {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin: 1vw 2.5vw 1vw 0;
}

.cv-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cv-header-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.cv-header-logo {
    max-height: 150px;
    max-width: 300px;
    margin-left: 2.5vw;
}

.cv-header-name {
    font-size: 3vw;
    color:rgb(62, 62, 62);
    margin: 0;
    text-align: right;
}

.cv-header-surname {
    font-size: 3vw;
    color:rgb(62, 62, 62);
    margin: 0;
    text-align: right;
}

.cv-header-role {
    font-size: 2vw;
    color:lightgray;
    margin: 0;
    text-align: right;
}