.inputfield-container {
    display: flex;
    flex-direction: column;
    margin: 0.5vw 0;
}

.inputfield-label {
    font-size: 0.8vw;
    margin: 0 0 0.3vw 0;
    text-align: left;
}

.inputfield-field {
    border: 2px solid #696869;
    background-color: #e5e5e5;
    font-weight: normal;
    border-radius: 0.5vw;
    padding: 0.5vw;
    /* text-align: center; */
    font-size: 0.9vw;
    outline: none;
    transition: .3s;
}

.inputfield-field:focus {
    border: 2px solid #B91601;
}


.inputfield-textarea {
    border: 2px solid #696869;
    background-color: #e5e5e5;
    font-weight: normal;
    border-radius: 0.5vw;
    margin: 0 !important;
    padding: 0.7vw;
    /* text-align: center; */
    font-size: 0.9vw !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal;
    resize: none;
    outline: none;
    transition: .3s;
}

.inputfield-textarea:focus {
    border: 2px solid #B91601;
}

.inputfield-field::placeholder {
    font-size: 1vw;
    font-weight: normal;
}

@media only screen and (max-width: 640px) {
    .inputfield-container {
        display: flex;
        flex-direction: column;
        margin: 2vw 0;
    }

    .inputfield-label {
        font-size: 4vw;
        margin: 4vw 0;
        text-align: center;
    }

    .inputfield-field {
        border: 1.5px solid #696869;
        background-color: #e5e5e5;
        font-weight: normal;
        border-radius: 0.5vw;
        padding: 2vw;
        /* text-align: center; */
        font-size: 3vw !important;
    }

    .inputfield-textarea {
        border: 1.5px solid #696869;
        background-color: #e5e5e5;
        font-weight: bolder;
        border-radius: 0.5vw;
        padding: 2vw;
        font-size: 3vw !important;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: normal;
        resize: none;
    }

    .inputfield-field::placeholder {
        font-size: 3vw;
        font-weight: normal;
    }
}