@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.root-container {
    display: flex;
    flex-direction: row;
}

.root-column {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-bottom: 4vw;
}

/* --- Home --- */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8vw;
}

.goback-icon {
    height: 22px;
    width: auto;
    margin: 1vw;
    font-size: 1vw;
    align-self: flex-start;
    cursor: pointer;
    transition: 0.3s;
    filter: invert(35%) sepia(1%) saturate(2381%) hue-rotate(9deg) brightness(104%) contrast(83%);
}

.goback-icon:hover {
    filter: invert(8%) sepia(84%) saturate(3926%) hue-rotate(15deg) brightness(102%) contrast(108%);
}

.chart-title {
    font-size: 1vw;
    font-weight: normal;
    text-align: center;
    margin: 0 0 1vw 0;
}

/* --- Login --- */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 8vw;
}

.login-box {
    padding: 2vw 3vw;
    margin: 4vw 0;
    box-shadow: 2px 2px 10px lightgray;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.login-logo {
    height: 4vw;
    width: auto;
    margin: 0;
    filter: invert(18%) sepia(39%) saturate(9%) hue-rotate(326deg) brightness(30%) contrast(92%);
}

.login-text {
    margin: 1vw 0 0 0;
    color: #8a8a8a;
}

.login-image {
    margin: 0 0 3vw 0;
}

.forgot-pass-link {
    color: rgb(77, 77, 196);
    font-size: .8vw;
    margin-bottom: 2vw;
    cursor: pointer;
    transition: .3s;
}

.forgot-pass-link:hover {
    text-decoration: underline;
}

/* --- Create User --- */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
    padding-bottom: 8vw;
}

.register-box {
    padding: 2vw;
    margin: 1vw 0;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: .5vw;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.register-fill {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.register-logo {
    height: 50px;
    width: auto;
    margin: 0;
}

.register-text {
    margin: 0
}

.register-image {
    margin: 0 0 1vw 0;
}

/* --- Home --- */
.home-container {
    padding: 2vw;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-action-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-self: flex-end;
}

.home-welcome {
    align-self: flex-start;
    color: rgb(80, 80, 80);
}

.home-welcome-title {
    margin: 0 0 2vw 0;
    width: 35vw;
    font-size: 2vw;
}

.home-welcome-text {
    margin: 1.5vw 0;
    font-size: 1.2vw;
    width: 35vw;
}

.home-welcome-comment {
    margin-top: 16vw;
    font-size: 1vw;
    width: 35vw;
    text-align: justify;
    color: rgb(167, 167, 167);
}

.home-tooltip-container {
    border-radius: .5vw;
    padding: 1vw;
    width: 32vw;
    color: white;
}

.home-tooltip {
    font-size: 1vw;
    transition: .4s;
}

/* --- My Resumes ---  */
.my-resumes-container {
    display: flex;
    flex-direction: column;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.page-title {
    font-size: 1.3vw;
    padding: 0;
    margin: 0;
}

.resumes-list {
    display: flex;
    margin: 0;
    padding: 1vw;
    align-self: center;
    justify-content: center;
    width: 100%;
}

.resume-card {
    margin: 1vw;
    background-color: #f5ede2;
    box-shadow: 1px 1px 5px lightgray;
    width: fit-content;
    padding: 1vw;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 14vw;
}

.resume-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 15px lightgray;
}

.resume-name {
    font-size: 1.3vw;
    margin: 0;
}

.resume-role {
    font-size: 1vw;
    color: rgb(110, 110, 110);
    margin: 0;
}

.resume-description {
    margin: 0.5vw 0;
    font-size: 0.8vw;
    max-width: 15vw;
    height: 3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resume-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1vw;
}

.resume-icon {
    height: 20px;
    margin: 0.5vw;
    transition: 0.2s;
}

.resume-icon:hover {
    filter: invert(12%) sepia(90%) saturate(2046%) hue-rotate(353deg) brightness(94%) contrast(111%);
}

/* --- NEW CV ---  */
.new-resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
    padding: .5vw 0 2vw 0;


    padding: 1vw .5vw;
    margin: 1vw 1vw 3vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
    position: relative;
    overflow: hidden;
}

.new-resume-fill {
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 2vw 0;
}

.profile-image-cover {
    width: 180px;
    height: 180px;
    margin: 1vw 0;
    align-self: center;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.profile-image-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    align-self: center;
    padding: 0 5vw;
}

.profile-image-section:hover .profile-image-settings {
    display: flex;
}

.profile-image-settings {
    display: none;
    flex-direction: row;
    gap: 2vw;
    position: absolute;
    margin-left: 12vw;
    background-color: white;
    transform: scale(0.85);
    border-left: none;
    z-index: 2;
    padding: 1vw 2vw 2vw 2vw;
    border-radius: .5vw;
    box-shadow: 4px 4px 20px gray;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-cover:hover {
    opacity: .8;
}

.profile-image-svg {
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 1vw 0;
    align-self: center;
    cursor: pointer;
    transition: .3s;
}

.profile-image-svg:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

.resume-fill-col1 {
    display: flex;
    flex-direction: column;
    width: 31%;
    align-self: flex-start;
    position: relative;
}

.resume-fill-col2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: flex-start;
    justify-content: center;
    position: relative;
}

.resume-fill-col1-dif {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-self: flex-start;
    position: relative;
}

.resume-fill-col2-dif {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-self: flex-start;
    justify-content: center;
    position: relative;
}

.new-resume-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    background-color: white;
    border-top-left-radius: 2vw;
    border: 1px solid lightgray;
    border-top-right-radius: 2vw;
    bottom: 0;
    padding: 1vw 0;
    width: 82%;
    z-index: 1;
    transform: translateY(3vw);
    transition: .5s;
}

.new-resume-btns:hover {
    transform: translateY(0);
}

.remove-modal {
    display: flex;
    flex-direction: column;
    padding: 1vw 3vw 2vw 3vw;
    position: fixed;
    Background-color: white;
    border-radius: 0.5vw;
    box-shadow: 2px 2px 10px lightgray;
    margin-top: 4vw;
    align-self: center;
    z-index: 1;
}

.remove-modal-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}

.hide-section-icon {
    display: none;
    height: 1.5vw;
    position: absolute;
    right: 0;
    top: 0;
    margin: .3vw .5vw;
    cursor: pointer;
    line-height: 1.5vw;
    filter: brightness(0%) contrast(0%);
    transition: .3s;
}

.no-top {
    top: unset;
}

.new-resume-fill:hover .hide-section-icon {
    display: block;
}

.new-resume-fill:hover .section-settings {
    display: flex;
}

.resume-strengths-div {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2vw 0;
    border: 1px solid transparent;
    min-height: 2vw;
}

.resume-strengths-div:hover .hide-section-icon {
    display: block;
}

.resume-strengths-div:hover .section-settings {
    display: flex;
}

.hide-section-icon:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

.hide-icon-signature {
    display: none;
    height: 1.5vw;
    margin-top: .3vw 2vw;
    cursor: pointer;
    line-height: 1.5vw;
    filter: brightness(0%) contrast(0%);
    transition: .3s;
}

.hide-icon-signature:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

.section-settings {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    align-items: center;
}

.section-settings:hover .new-resume-fill {
    border: 1px solid #E4C69C;
    border-radius: .5vw;
}

.section-settings-icon {
    height: 1.3vw;
    line-height: 1.3vw;
    margin: .3vw .5vw;
    cursor: pointer;
    filter: brightness(0%) contrast(0%);
    transition: .3s;
}

.section-settings-icon:hover {
    transition: .3s;
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

.resume-fill-internal {
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 2vw 0;
}

.resume-fill-col2-personal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    position: relative;
}

.section-settings-drop {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
}

.section-settings-drop-list {
    border: none;
}

.resume-type-banner {
    position: absolute;
    left: 0;
}

.resume-type-text {
    transform: rotate(-90deg);
    margin: 5vw 0 25vw 0;
    font-size: 2vw;
}

.resume-signature-canvas-container {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
}

.signature-canvas-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.signature-canvas-btns {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

.signature-canvas-label {
    margin: 0 0 .2vw 0;
    font-size: .8vw;
    text-align: left;
    width: fit-content;
    color: #696869;
    min-width: 7vw;
}

.signature-image-container {}

.signature-image-container button {
    border: none;
    margin: .2vw 0;
    padding: .3vw 0;
    border-radius: .5vw;
    cursor: pointer;
    transition: .3s;
    width: 100%;
}

.signature-image-container button:hover {
    background-color: #E4C69C;
}

.resume-signature-canvas-container button {
    border: none;
    margin: .2vw 0;
    padding: .3vw 0;
    border-radius: .5vw;
    cursor: pointer;
    transition: .3s;
}

.resume-signature-canvas-container button:hover {
    background-color: #E4C69C;
}

.resume-signature-canvas {
    width: 250px;
    height: 130px;
    border: 2px solid #aeaeae;
    border-radius: .5vw;
    cursor: crosshair;
}

.signature-image {
    max-width: 170px;
    max-height: 80px;
    margin-right: 1vw;
    padding: 0 1vw;
}

/* --- PDF MODAL ---  */
.pdf-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 80vw;
    height: 100vh;
    background-color: #323639;
    border-radius: 0.5vw;
    box-shadow: 5px 5px 20px lightgray;
    position: absolute;
    top: 0;
    margin: 1vw;
}

.close-modal {
    align-self: flex-end;
    margin: 1vw 1vw 0 0;
    color: lightgray;
    cursor: pointer;
    transition: 0.2s;
}

.close-modal:hover {
    color: #E59A2F;
}

.separator {
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0;
}

.section-title-row {
    font-size: 1.1vw;
    font-weight: bolder;
    margin: 1vw 8vw;
    align-self: flex-start;
}

.section-title {
    font-size: 1.1vw;
    font-weight: bolder;
    margin: 0;
    align-self: flex-start;
    text-align: left;
    letter-spacing: .3vw;
}

.signature-text {
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    font-size: 2vw;
    text-align: left;
    position: relative;
    margin: 1vw;
}

.signature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-top: 1vw;
}

.signature-container:hover .hide-icon-signature {
    display: block;
}

.go-back-btn {
    margin: 0;
    font-size: 1vw;
    align-self: flex-start;
    cursor: pointer;
    transition: 0.3s;
}

.go-back-btn:hover {
    color: #6D0E00;
}

/* --- Report --- */
.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
    padding: .5vw 0 8vw 0;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.report-box {
    padding: 2vw;
    margin: 1vw 0;
    box-shadow: 2px 2px 10px lightgray;
    width: 30vw;
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
}

.report-fill {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* width: 100%; */
    margin: 0;
}

.report-title {
    margin: 0;
    font-size: 1vw;
}

.report-text {
    margin: 1vw 0;
    font-size: .8vw;
    text-align: center;
}

.report-list-title {
    margin-top: 4vw;
    font-size: 1.7vw;
    align-self: flex-start;
    width: 100%;
    border-top: 1px solid lightgray;
    padding-top: 2vw;
}

.report-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.report-card {
    background-color: #ddb6b6;
    border-radius: .5vw;
    width: 20%;
    padding: 1vw;
    margin: 2vw;
    transition: .3s;
}

.report-title {
    font-size: 1.3vw;
    margin: .2vw;
}

.report-email {
    font-size: .8vw;
    margin: 0;
}

.report-description {
    font-size: .9vw;
    height: 6vw;
    overflow: hidden;
    transition: .3s;
}

.report-card:hover .report-description {
    height: fit-content;
}

.report-card:hover {
    box-shadow: 2px 2px 15px lightgray;
}

/* --- Account ---  */
.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.account-details {
    box-shadow: 2px 2px 10px lightgray;
    border-radius: .5vw;
    padding: 1.5vw 1vw;
    margin: 2vw 0;
}

.account-item {
    display: flex;
    flex-direction: row;
    gap: .5vw;
}

.account-item-name {
    margin: .5vw;
    font-size: 1vw;
    width: 10vw;
    text-align: right;
}

.account-item-value {
    padding: 0 1vw;
    border-left: 1px solid lightgray;
    margin: .5vw;
    font-size: 1vw;
    font-weight: normal;
}

.account-btns {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    gap: 2vw;
}

.account-update-details {
    border: 1px solid lightgray;
    border-radius: .5vw;
    padding: 1.5vw;
    margin: 1vw;
    width: 25%;
    position: absolute;
    text-align: center;
    z-index: 1;
    background-color: white;
}

.account-update-pass {
    border: 1px solid lightgray;
    border-radius: .5vw;
    padding: 1.5vw;
    margin: 5vw 1vw;
    width: 25%;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.account-update-title {
    margin: .5vw 0 1vw 0;
    text-align: center;
}

.account-update-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 1vw 0 0 0;
    gap: 2vw;
}

.account-note {
    font-size: .9vw;
    color: gray;
    margin: 5vw 0;
}

.account-profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1vw 0;
    align-self: center;
    cursor: pointer;
    transition: .3s;
}

.account-profile-image:hover {
    opacity: .8;
}

.account-profile-image-svg {
    height: 150px;
    cursor: pointer;
    transition: .3s;
    margin: 1vw 0;
}

.account-profile-image-svg:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

/* --- Settings ---  */
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 1vw .5vw; */
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.color-settings {
    display: flex;
    flex-direction: column;
}

.settings-tabs {
    display: flex;
    flex-direction: row;
    border-radius: .5vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.settings-tab {
    border-radius: .5vw;
    font-size: .9vw;
    margin: 0;
    padding: .5vw 1vw;
    cursor: pointer;
    transition: .3s;
    width: 20%;
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-radius: .4vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
}

.settings-tab:hover {
    opacity: .5;
}

.settings-tab-selected {
    background: linear-gradient(180deg, #ffd395 0%, #fff 100%);
    margin: 0;
    border-radius: .4vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: .5vw 1vw;
    cursor: pointer;
    font-size: .9vw;
    transition: .3s;
    width: 20%;
    text-align: center;
}

.settings-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vw 0;
}

.settings-logo-container {
    display: flex;
    flex-direction: row;
}

.settings-logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings-logo-title {
    font-size: 1vw;
    font-weight: normal;
    margin: 0 0 1.5vw 1vw;
}

.settings-logo-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-cv-logo {
    width: 18vw;
    cursor: pointer;
    transition: .3s;
    margin: 0 1vw;
}

.settings-cv-logo:hover {
    opacity: .5;
}

.settings-cv-logo-svg {
    width: 10vw;
    transition: .3s;
    cursor: pointer;
}

.settings-cv-logo-svg:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

.settings-cvlogo-btns {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin: 1vw;
}

.settings-skills-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.settings-new-skill-btn {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin: -.5vw 0 1.5vw 1vw;
}

.settings-skill-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.settings-select-section {
    display: flex;
    flex-direction: column;
    padding: 0 1vw 2vw 1vw;
    border-left: 1px solid #E4E7EB;
    border-radius: .5vw;
    margin-top: 1vw;
    gap: 1vw;
}

.settings-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-image {
    max-width: 220px;
    max-height: 150px;
    align-self: center;
    cursor: pointer;
    transition: .3s;
    margin: .5vw 0 2vw 0;
}

.settings-image:hover {
    opacity: .8;
}

.settings-details-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-trash-header {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    /* justify-content: space-between; */
    margin: -1vw 0 1vw 1vw;
}

.settings-trash-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

/* --- Users ---  */
.users-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.color-users {
    display: flex;
    flex-direction: column;
}

.users-tabs {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    border: 1px solid rgb(233, 233, 233);
    border-radius: .5vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 1vw;
}

.users-tab {
    border-radius: .5vw;
    font-size: .9vw;
    margin: 0;
    padding: .5vw 1vw;
    cursor: pointer;
    transition: .3s;
}

.users-tab:hover {
    opacity: .5;
}

.users-tab-selected {
    background-color: #E4C69C;
    margin: 0;
    border-radius: .4vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: .5vw 1vw;
    cursor: pointer;
    font-size: .9vw;
    transition: .3s;
}

.users-new-user-btn {
    margin: 0 1vw 1vw 1vw;
}

.users-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: .5vw 2vw 0 0
}

.users-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17vw;
}

.users-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.users-image-section {
    display: flex;
    flex-direction: column;
    margin: 1vw 0;
}

.users-image-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-select-section {
    display: flex;
    flex-direction: column;
    padding: 0 1vw 2vw 1.5vw;
    border-left: 1px solid #E4E7EB;
    border-radius: .5vw;
}

.users-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vw 0;
    gap: 3vw;
}

/* --- Activity ---  */
.activity-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.activity-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* --- Statistics ---  */
.statistics-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.statistics-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statistics-graphrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
    justify-content: center;
    margin-top: 1vw;
}

.elastic-words {
    font-weight: normal;
}

.elastic-table-container {
    margin-top: 1vw;
}

/* --- Elastic Search ---  */
.elastic-search-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.elastic-search-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* --- Help ---  */
.help-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

/* --- Tools & Tech ---  */
.tools-tech-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.tools-tech-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1vw 0;
}

/* --- Clients ---  */
.clients-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.clients-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1vw 0;
}

.client-details {
    display: flex;
    flex-direction: column;
}

.client-logo-image {
    max-height: 60px;
    max-width: 150px;
    margin: 0 0 1vw 0;
    align-self: center;
    cursor: pointer;
    transition: .3s;
}

.client-logo-image:hover {
    opacity: .6;
}

.client-logo-svg {
    height: 60px;
    cursor: pointer;
    align-self: center;
    transition: .3s;
    /* margin: 1vw 0; */
}

.client-logo-svg:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

/* --- Consultants ---  */
.consultants-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1vw .5vw;
    margin: 1vw 1vw 2vw 1vw;
    border-radius: 1vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    min-height: 73vh;
}

.consultants-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1vw 0;
}