@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* --- Home --- */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8vw;
}

.goback-icon {
    height: 22px;
    width: auto;
    margin: 0;
    font-size: 1vw;
    align-self: flex-start;
    cursor: pointer;
    transition: 0.3s;
    filter: invert(35%) sepia(1%) saturate(2381%) hue-rotate(9deg) brightness(104%) contrast(83%);
}

.goback-icon:hover {
    filter: invert(8%) sepia(84%) saturate(3926%) hue-rotate(15deg) brightness(102%) contrast(108%);
}

/* --- Login --- */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 8vw;
}

.login-box {
    padding: 2vw 3vw;
    margin: 4vw 0;
    box-shadow: 2px 2px 10px lightgray;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.login-logo {
    height: 4vw;
    width: auto;
    margin: 0;
    filter: invert(18%) sepia(39%) saturate(9%) hue-rotate(326deg) brightness(30%) contrast(92%);
}

.login-text {
    margin: 1vw 0 0 0;
    color: #6D0E00;
}

.login-image {
    margin: 0 0 3vw 0;
}

.login-fill {}

/* --- Create User --- */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
    padding-bottom: 8vw;
}

.register-box {
    padding: 2vw;
    margin: 1vw 0;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: .5vw;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.register-fill {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
}

.register-logo {
    height: 50px;
    width: auto;
    margin: 0;
}

.register-text {
    margin: 0
}

.register-image {
    margin: 0 0 1vw 0;
}

.register-fill {}



/* --- Home --- */
.home-container {
    padding: 2vw;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-action-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-self: flex-end;
}

.home-welcome {
    align-self: flex-start;
    color:rgb(80, 80, 80);
    width: 40vw;
}

.home-welcome-title {
    margin: 0 0 2vw 0;
    width: 40vw;
    font-size: 2vw;
}

.home-welcome-text {
    margin: .5vw 0;
    font-size: 1.2vw;
    width: 40vw;
}

.home-tooltip-container {
    border-radius: .5vw;
    padding: 1vw;
    width: 32vw;
    color: white;
}

.home-tooltip {
    font-size: 1vw;
    transition: .4s;
}


/* --- My Resumes ---  */
.my-resumes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw 2vw;
    height: 100%;
}

.page-title {
    font-size: 1.3vw;
    padding: 0;
    margin: 0;
}

.resumes-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1vw;
    align-self: center;
    justify-content: center;
}

.resume-card {
    margin: 1vw;
    background-color: rgb(250, 239, 239);
    box-shadow: 1px 1px 5px lightgray;
    width: fit-content;
    padding: 1vw;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 14vw;
}

.resume-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 15px lightgray;
}

.resume-text {}

.resume-name {
    font-size: 1.3vw;
    margin: 0;
}

.resume-role {
    font-size: 1vw;
    /* font-style: italic; */
    color: rgb(110, 110, 110);
    margin: 0;
}

.resume-description {
    margin: 0.5vw 0;
    font-size: 0.8vw;
    max-width: 15vw;
    height: 3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resume-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1vw;
}

.resume-icon {
    height: 20px;
    margin: 0.5vw;
    transition: 0.2s;
}

.resume-icon:hover {
    filter: invert(12%) sepia(90%) saturate(2046%) hue-rotate(353deg) brightness(94%) contrast(111%);
}

/* --- NEW RESUME ---  */
.new-resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
    padding: .5vw 0 2vw 0;
}

.new-resume-fill {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1vw 0;
    align-self: center
}

.resume-fill-col1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-self: flex-start;
}

.resume-fill-col2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-self: flex-start;
}

.resume-fill-col1-dif {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-self: flex-start;
}

.resume-fill-col2-dif {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: flex-start;
}

.new-resume-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background-color: #BCBCBC;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    bottom: 0;
    padding: .7vw 0;
    width: 100%;
}

.new-resume-btns .cta-btn-container {
    transform: scale(.8);
}

.remove-modal {
    display: flex;
    flex-direction: column;
    padding: 2VW;
    position: absolute;
    Background-color: white;
    /* border: 1px solid lightgray; */
    border-radius: 0.5vw;
    box-shadow: 2px 2px 10px lightgray;
    margin-top: 4vw;
}

.remove-modal-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}

/* --- PDF MODAL ---  */
.pdf-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 80vw;
    height: 95%;
    background-color: #323639;
    /* border: 2px solid gray; */
    border-radius: 0.5vw;
    box-shadow: 5px 5px 20px lightgray;
    position: absolute;
    top: 0;
    margin: 1vw;
}

.modal-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1vw;
    width: 100%;
}

.close-modal {
    align-self: flex-end;
    margin: 1vw 1vw 0 0;
    color: lightgray;
    cursor: pointer;
    transition: 0.2s;
}

.close-modal:hover {
    color: #d57768;
}

.separator {
    border-bottom: 1px solid black;
    width: 80%;
    margin: 2vw 0;
}

.section-title-row {
    font-size: 1.2vw;
    font-weight: bolder;
    margin: 1vw 10vw;
    align-self: flex-start;
}

.section-title {
    font-size: 1.2vw;
    font-weight: bolder;
    margin: 1vw 0vw;
    align-self: flex-start;
}

.signature-text {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5vw;
    margin: 0.2vw 0 0.5vw 0;
    text-align: left;
}

.go-back-btn {
    margin: 0;
    font-size: 1vw;
    align-self: flex-start;
    cursor: pointer;
    transition: 0.3s;
}

.go-back-btn:hover {
    color: #6D0E00;
}

/* --- Report --- */
.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
    padding: .5vw 0 8vw 0;
}

.report-box {
    padding: 2vw;
    margin: 1vw 0;
    box-shadow: 2px 2px 10px lightgray;
    width: 30vw;
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
}

.report-fill {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
}

.report-title {
    margin: 0;
    font-size: 1vw;
}

.report-text {
    margin: 1vw 0;
    font-size: .8vw;
    text-align: center;
}

.report-list-title {
    margin-top: 4vw;
    font-size: 1.7vw;
    align-self: flex-start;
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 2vw;
}

.report-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.report-card {
    background-color: #ddb6b6;
    border-radius: .5vw;
    width: 20%;
    padding: 1vw;
    margin: 2vw;
    transition: .3s;
}

.report-title {
    font-size: 1.3vw;
    margin: .2vw;
}

.report-email {
    font-size: .8vw;
    margin: 0;
}

.report-description {
    font-size: .9vw;
    height: 6vw;
    overflow: hidden;
    transition: .3s;
}

.report-card:hover .report-description {
    height: fit-content;
}

.report-card:hover {
    box-shadow: 2px 2px 15px lightgray;
}