@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* --- Home --- */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Login --- */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-box {
    padding: 2vw 3vw;
    margin: 4vw 0;
    box-shadow: 2px 2px 10px lightgray;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.login-logo {
    height: 50px;
    width: auto;
    margin: 0;
}

.login-text {
    margin: 1vw 0 0 0;
}

.login-image {
    margin: 0 0 3vw 0;
}

.login-fill {
    
}

/* --- Create User --- */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
}

.register-box {
    padding: 2vw 3vw;
    margin: 1vw 0;
    box-shadow: 2px 2px 10px lightgray;
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.register-fill {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
}

.register-logo {
    height: 50px;
    width: auto;
    margin: 0;
}

.register-text {
    margin: 0
}

.register-image {
    margin: 0 0 1vw 0;
}

.register-fill {
    
}



/* --- Home --- */
.home-container {
    padding: 2vw;
    margin-top: 4vw;
}

.home-action-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}



/* --- My Resumes ---  */
.my-resumes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw 2vw;
    height: 100%;
}

.page-title {
    font-size: 1.3vw;
    padding: 0;
    margin: 0;
}

.resumes-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 1vw;
    align-self: center;
    justify-content: center;
}

.resume-card {
    margin: 1vw;
    background-color: rgb(250, 235, 235);
    box-shadow: 2px 2px 10px lightgray;
    width: fit-content;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition: 0.3s;
}

.resume-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 15px lightgray;
}

.resume-text {}

.resume-name {
    font-size: 1.3vw;
    margin: 0;
}

.resume-role {
    font-size: 1vw;
    /* font-style: italic; */
    color: rgb(110, 110, 110);
    margin: 0;  
}

.resume-description {
    margin: 0.5vw 0;
    font-size: 0.8vw;
    max-width: 15vw;
    height: 3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resume-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.resume-icon {
    height: 20px;
    margin: 0.5vw;
    transition: 0.2s;
}

.resume-icon:hover {
    filter: invert(12%) sepia(90%) saturate(2046%) hue-rotate(353deg) brightness(94%) contrast(111%);
}

/* --- NEW RESUME ---  */
.new-resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2vw;
}

.new-resume-fill {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resume-fill-col1 {
    display: flex;  
    flex-direction: column;
    width: 25%;
    align-self: flex-start;
}

.resume-fill-col2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-self: flex-start;
}

.resume-fill-col1-dif {
    display: flex;  
    flex-direction: column;
    width: 10%;
    align-self: flex-start;
}

.resume-fill-col2-dif {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: flex-start;
}

.new-resume-btns {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin: 2vw 0 4vw 0;
}

.remove-modal {
    display: flex;
    flex-direction: column;
    padding: 2VW;
    position: absolute;
    Background-color: white;
    /* border: 1px solid lightgray; */
    border-radius: 0.5vw;
    box-shadow: 2px 2px 10px lightgray;
    margin-top: 4vw;
}

.remove-modal-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}

/* --- PDF MODAL ---  */
.pdf-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 80vw;
    height: 100%;
    background-color: #323639;
    /* border: 2px solid gray; */
    border-radius: 0.5vw;
    box-shadow: 5px 5px 20px lightgray;
    position: absolute;
}

.close-modal {
    align-self: flex-end;
    margin: 1vw 1vw 0 0;
    color: lightgray;
    cursor: pointer;
    transition: 0.2s;
}

.close-modal:hover {
    color: #d57768;
}

.separator {
    border-bottom: 1px solid black;
    width: 80%;
    margin: 2vw 0;
}

.section-title-row {
    font-size: 1.2vw;
    font-weight: bolder;
    margin: 1vw 10vw;
    align-self: flex-start;
}

.section-title {
    font-size: 1.2vw;
    font-weight: bolder;
    margin: 1vw 0vw;
    align-self: flex-start;
}

.signature-text {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5vw;
    margin: 0.2vw 0 0.5vw 0;
    text-align: left;
}

.go-back-btn {
    margin: 0;
    font-size: 1vw;
    align-self: flex-start;
    cursor: pointer;
    transition: 0.3s;
}

.go-back-btn:hover {
    color: #6D0E00;
}