.section-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(105, 104, 105);
    margin: 0.5vw 0;
    width: 100%;
}

.post-label {
    font-size: 0.8vw;
    margin: 0 0 .3vw 0;
    text-align: left;
}

.post-item-label {
    font-size: 0.9vw;
    margin: 0 0 0.5vw 0;
    text-align: left;
    color: rgb(105, 104, 105);
}

.section-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1vw;
    align-items: center;
}

.section-item-blocked {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3vw;
    align-items: center;
    gap: 0.5vw;
    text-align: left;
}

.section-item-name {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    border-radius: .5vw;
    padding: .5vw;
    margin: 0 0 1vw 0;
    font-size: .8vw;
    width: 95%;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    transition: .3s;
}

.section-item-name:focus {
    border: 1px solid #E4C69C;
}

.section-item-name::placeholder {
    font-family: 'Inter', sans-serif;
}

.section-item-select {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: .5vw;
    font-size: .8vw;
    padding: 0.5vw;
    width: 40%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-item-option {
    font-size: 0.8vw;
}

.section-item-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.section-item-new {
    margin: 0.5vw 0 0.5vw 0;
    color: gray;
    padding: .5vw 1vw;
    border: 1px solid #adadad;
    align-self: center;
    border-radius: 1vw;
    cursor: pointer;
    color: #adadad;
    transition: 0.3s;
}

.section-item-remove {
    margin: 0.5vw 0 0.5vw 0;
    color: gray;
    padding: .5vw 1vw;
    border: 1px solid #adadad;
    align-self: center;
    border-radius: 1vw;
    cursor: pointer;
    color: #adadad;
    transition: 0.3s;
}

.section-item-remove:hover {
    color: #E4C69C;
    border-color: #E4C69C;
}

.section-item-new:hover {
    color: #E4C69C;
    border-color: #E4C69C;
}

.post-container {
    margin: 1vw 0;
    color: rgb(105, 104, 105);
}

.post {
    font-size: 0.9vw;
}

.post-text {
    font-size: 0.9vw;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 1vw;
}

.post-col-dif {
    /* display: flex; */
    width: 80%;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 1vw;
}

.post-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.post-period {
    font-size: 1vw;
    font-weight: 800;
    color: black;
    width: 25%;
    margin: .5vw 1vw;
    text-align: left;
}

.post-company {
    margin: .5vw 0;
    font-weight: 800;
    color: black;
    font-size: 1.2vw;
    text-align: left;
}

.post-role {
    margin: 0;
    font-size: 1vw;
    font-style: italic;
    text-align: left;
}

.post-description {
    margin: 1vw 0 1vw 0;
    font-size: 1vw;
    text-align: justify;
}

/* .post-responsabilities {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 1vw;
} */

.post-responsabilities-text {
    font-size: 1vw;
    font-weight: 800;
    color: black;
    width: 40%;
    margin: .5vw 1vw;
    text-align: left;
}

.post-responsability {
    margin: .5vw 2vw;
    font-size: 1vw;
    width: 100%;
    text-align: left;
}

.post-technologies-text {
    font-size: 1vw;
    font-weight: 800;
    color: black;
    margin: 1vw 0;
    text-align: left;
}

.post-technologies {
    margin: 1vw 0;
    font-size: 1vw;
    width: 50%;
    text-align: left;
}

.post-edit-modal {
    position: absolute;
    width: 80%;
    height: 80%;
    border: 1px solid #E4C69C;
    border-radius: 1vw;
    margin: 4vw 0;
    background-color: white;
}

.post-tools-title {
    font-size: .9vw;
    text-align: left;
    margin: 0;
}

.post-tools {
    display: flex;
    flex-direction: column;
    gap: .5vw;
    margin: 1.5vw 0 2vw 0vw;
    justify-self: center;
}

.post-tools-row {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-left: 3vw;
}

.post-tools-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vw;
    border-top: 1px solid rgb(232, 232, 232);
}

.post-tool-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .3vw .5vw;
    gap: .5vw;
    background-color: lightgray;
    padding: .2vw .5vw;
    border-radius: .5vw;
}

.post-tool {
    font-size: .9vw;
    font-weight: normal;
    margin: .3vw 0;
}

.post-remove-tool {
    font-size: 1vw;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    transition: .3s;
}
.post-remove-tool:hover {
    color: #E59A2F;
}

.post-manual-input {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    border-radius: .5vw;
    padding: .5vw;
    font-size: .9vw;
    width: 100%;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    transition: .3s;
    margin-top: 1.7vw;
}

.post-manual-input:focus {
    border: 1px solid #E4C69C;
}

.post-tools-and-tech {
    margin: 1vw 0 1vw 0;
    font-size: 1vw;
    text-align: justify;
}

.post-tools-and-tech-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .3vw;
    background-color: lightgray;
    padding: .3vw .6vw;
    border-radius: .5vw;
}

.post-tools-and-tech-list {
    display: flex;
    flex-wrap: wrap;
}