.footer-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 82%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
    border-radius: 1vw;
    background-color: #fff;
}

.footer-text {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 1.8vw 2vw;
    border-radius: 1vw;
    font-size: .7vw;
    margin: 1px;
    text-align: left;
    transition: .3s;
    width: 30%;
}

.footer-text-row {
    font-size: .7vw;
    margin: 1px;
    text-align: left;
    transition: .3s;
    width: fit-content;
}

.footer-contact {
    font-size: .7vw;
    margin: 1px;
    text-align: left;
    align-self: flex-end;
    justify-self: flex-end;
    transition: .3s;
}

.footer-hover:hover {
    cursor: pointer;
    color: #6D0E00;
}

.footer-logo-container {
    width: 30%;
    text-align: right;
}

.footer-logo {
    height: 1.8vw;
    padding: 0 2vw;
    margin-top: .5vw;
    cursor: pointer;
}

.footer-logo:hover {
    opacity: .8;
}