.item-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(105, 104, 105);
    margin: 0.5vw 0;
}

.item-label {
    font-size: .8vw;
    margin: 0;
    text-align: left;
    color: rgb(105, 104, 105);
}

.item-dropdown-row {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 0vw; */
    align-items: flex-end;
}

.item-dropdown-blocked {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3vw;
    align-items: center;
    gap: 0.5vw;
    text-align: left;
    position: relative;
}

.draggable {
    cursor: grab;
}

.item-dropdown-name {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    font-weight: normal;
    border-radius: 0.5vw;
    padding: 0.5vw;
    font-size: 0.9vw;
    width: 10vw;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    transition: .3s;
}

.item-dropdown-name:focus {
    border: 1px solid #E4C69C;
}

.item-dropdown-select {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 0.5vw;
    font-size: 0.9vw;
    padding: 0.5vw;
    width: 40%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    transition: .3s;
}

.item-dropdown-select:focus {
    border: 1px solid #E4C69C;
}

.item-dropdown-option {
    font-size: 0.8vw;
    color: gray;
}

.item-dropdown-new {
    margin: .3vw 0;
    color: gray;
    height: 1.5vw;
    width: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
    border: 1px solid #adadad;
    border-radius: 50%;
    cursor: pointer;
    color: #adadad;
    transition: 0.3s;
}

.item-dropdown-remove {
    margin: 0.5vw 0 0.5vw 0;
    color: gray;
    height: 1.5vw;
    width: 1.5vw;
    line-height: 1.5vw;
    cursor: pointer;
    transition: 0.3s;
    width: 4%;
    color: #adadad;
}

.item-dropdown-remove:hover {
    color: #E4C69C;
}

.item-dropdown-new:hover {
    color: #E4C69C;
    border-color: #E4C69C;
}

.edit-icon-item {
    display: none;
    height: 1vw !important;
    cursor: pointer;
    line-height: 1.5vw;
    filter: brightness(0%) contrast(0%);
    transition: .3s;
}

.hide-icon-item {
    display: none;
    height: 1.3vw;
    font-size: 1.3vw;
    cursor: pointer;
    line-height: 1.5vw;
    filter: brightness(0%) contrast(0%);
    transition: .3s;
}

.hide-icon-item:hover {
    filter: invert(75%) sepia(39%) saturate(3237%) brightness(80%) contrast(80%);
}

.item-dropdown-blocked:hover .hide-icon-item {
    display: block;
}

.bullet-row:hover .hide-icon-item {
    display: block;
}

.skills-section-blocked {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vw;
    /* margin-right: 1vw; */
    margin: 0 1vw 0 -6vw;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5vw;
    width: 48vw;
}

.skill-wrap-item {
    display: flex;
    flex-direction: row;
    /* width: 45%; */
    justify-content: space-between;
    text-align: left;
    padding: .5vw 0 1vw 0;
    border-bottom: 1px solid lightgray;
    margin: 0 0 .4vw 0;
}

.skill-wrap-name {
    font-size: 0.9vw;
    width: 12vw;
    margin: 0;
    color: black;
    outline: none;
    transition: .3s;
}

.skill-wrap-option {
    font-weight: normal;
    font-size: 0.9vw;
    width: 5vw;
    text-align: end;
    color: black;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    transition: .3s;
    font-style: italic;
}

.skill-edit-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}